.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
      /* Nav Seaction-1 */
.nav img{
  height: 82px;
  width: 135px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1140px;
  max-height: 71px;
  padding: 10px 20px;
}
.navbr{
  display: flex;
  gap: 40px;
  padding-top: 60px;
  width: 415px;
  height: 60px;
}
.nav-iteam{
list-style: none;

}
.font{
  font: 20px;
  font-weight: bold;
}
.nav-iteam a{
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}
 .nav-iteam a img {
  height: 20px;
  width: 20px;
}
.clr1{
  color: #252432;
}
.clr2{
  color: #8987A1;
}
.nav-iteam a:hover {
  color: #ff7a5c;  
}

.part2{
  max-width: 1140px;
  max-height: 461px;
  padding-top: 100px;
  /* background-color: aquamarine; */
  margin: 0 auto;
  display: flex;
}
.gap162{
  padding-top: 20px;
}
.info h1{
  /* margin-top: -20px; */
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.3rem;
}
.info p{
  font-size: 24px;
  color:#8987A1 ;
}
.img img{
  height: 355px;
  width: 570px;
}
.clr3{
  color: #E95A08;
}

.part3{
  max-width: 1140px;
  max-height: 1187px;
  margin: 0 auto;
  margin-bottom: -30px;
  /* padding-bottom: 100px; */
  /* background-color: aqua; */
}
.heading{
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}
.clr3{
  color: #E95A08;
}
.part3 p{
  font-size: 1.2rem;
  text-align:center;
  color: #727272;
  max-width: 888px;
  max-height: 54px;
  padding-top: -40px;
  margin: 10px auto; 
  
  padding-bottom: 10px;
}
.card-container{
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 20px;
  column-gap: 20px;

}
.card img{
  max-width: 270px;
  max-width: 323px;
  
}
.card h3{
  font-size: 22px;
  font-weight: 600;
  color: #111111;
  text-align: center;
  margin-bottom: -10px;
}
.card p{
  font-size: 22px;
  font-weight: bold;
  color: #111111;
  text-align: center;
}
.card button {
  background-color: #E95A08;
  color: white;
  border: none;
  width: 100%;
  padding: 10px 18px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.card button:hover {
  background-color: gold;
}

.part4{
  max-height: 597px;
  max-width: 1140px;
  display: flex;
  padding-top: 200px;
  margin: 0 auto;
  position: relative;
}
.part4-img img{
  height: 500px;
  width: 540px;
  margin-right: 40px;
}
.part4-info{
  max-width: 540px;
  max-height: 521px;
}
.part4-info img{
  max-width: 280px;
  max-height: 280ox;
  position: absolute;
  top: 50PX;
  left: 350PX;
}
.part4-info h1{
  margin-left: 30px;
  margin-top: -20px;
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
}
.part4-info ul li{
  margin-top: -20px;
  font-size: 1.3rem;
  color: #727272;
  padding-left: 20px;
}

.part5 {
  max-width: 1140px;
  margin: 100px auto;
  text-align: center;
  padding: 0 20px;
}

.part5 h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.part5 p {
  font-size: 1.2rem;
  color: #727272;
  max-width: 800px;
  margin: 0 auto;
}

.part6{
  display: flex;
  margin: 0 auto;
  max-width: 1140px;
  height: 430px;

  margin-top: -30px;
  margin-bottom: 100px;
}
.tow{
  width: 367px;
  height: 423px;
}
.bloom{
  display: flex;
  flex-direction: column;
  background-image: url(./assets/deal-bloom.png);
  width: 367px;
  height: 201px;
  border-radius: 10px;
  filter: blur(0.4px);
  margin-top: -20PX;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}
.ana{
  display: flex;
  flex-direction: column;
  background-image: url(./assets/deal-ana.png);
  width: 367px;
  height: 201px;
  border-radius: 10px;
  filter: blur(0.6px);
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}
.one{
  display: flex;
  flex-direction: column;
  background-image: url(./assets/deal-zabo.png);
  width: 753px;
  height: 424px;
  border-radius: 10px;
  filter: blur(0.5px);
  margin-left: 28px;
  justify-content: center;
  align-items: center;
}
.bloom h3,.ana h3{
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: bold;
}
.bloom a,.ana a{ 
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: bold;
}
.one h2{
  color: #FFFFFF;
  font-size: 2.5rem;
  font-weight: bold;
}
.one a{
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: bold;
}

